*{
    padding: 0;
    margin: 0;
}

html{
    margin: 0;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: azure;
}
ul{    
    list-style-type: none;
    text-align: center;  
}
nav li{
    display: inline;    
    list-style-type: none;    
    margin: 1rem;    
}
a{
    text-decoration: none;
    color: azure;    
}
a:hover{
    text-decoration: none;
    color: rgb(0, 253, 253);    
}
body{
    text-align: center;
    color: azure;
    margin: 0;    
}
.container-major h2{
    font-size: 2rem;
    font-weight: bolder;
    margin: 0;
    margin-top: 1rem;
}
.container-major h3{
    font-size: 1.2rem;
    margin-top: .5rem;
}
.container-major h6{
    font-size: 1.5rem;
    margin-bottom: .5rem;
}
.class-disciplines-text h3{
    margin-bottom: .5rem;
    margin-top: .5rem;
}
.cooldown-img{
    margin-bottom: .5rem;
}
h1{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.race-image img{
    border-radius: 50%;
}
.race-image{
    background: hsl(173, 17%, 29%);    
}
.race-name{
    background: hsl(173, 17%, 29%);
    color: azure;
}
.race-classes{
    background: hsl(173, 17%, 29%);
}
.container-class-icons{
    background: hsl(173, 17%, 29%);
}
.race-disciplines{
    background: hsl(173, 17%, 29%);
}
.race-disciplines-text{
    background: hsl(173, 17%, 29%);
}
.race-promotion{
    background: hsl(173, 17%, 29%);
}
.race-promotion-text1{
    background: hsl(173, 17%, 29%);
}
.race-promotion-text2{
    background: hsl(173, 17%, 29%);
}
.race-promotion-text3{
    background: hsl(173, 17%, 29%);
}
.race-domains{
    background: hsl(173, 17%, 29%);
}
.race-domains-text1{
    background: hsl(173, 17%, 29%);
}
.race-domains-text2{
    background: hsl(173, 17%, 29%);
}
.race-domains-text3{
    background: hsl(173, 17%, 29%);
}
.container-race-powers{
    background-image:radial-gradient( hsl(173, 17%, 29%), hsl(173, 17%, 35%));
}
.container-major{
    background-image:radial-gradient( hsl(173, 17%, 29%), hsl(173, 17%, 35%));
}
@media screen and (max-width:625px) { 

    /* The race card */
    .race-container{
        display: grid;
        grid-template-columns: 50vw 50vw;
        column-gap: .2rem;
        grid-template-rows: auto auto auto auto auto;
        row-gap: .2rem;
        text-align: center;
    }
    .race-image{      
        grid-column: 1/3;
        grid-row: 1;
        display: flex;
        align-items: center;
        justify-content: center;        
    }
    .race-name{        
        
        grid-column: 1/3;
        grid-row: 2;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5rem;  
    }
    .race-classes{ 
        grid-column: 1/3;
        grid-row: 3;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;        
        padding: .5rem;      
    }
    .container-class-icons{
        display: grid;
        grid-column: 1/3;
        grid-row: 4;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: .5rem;
    }
    .container-class-icons img{      
        margin: .5rem;
    }    
    
    .race-disciplines{
        grid-column: 1/3;
        grid-row: 5;
        padding: .5rem;
    }
    .race-disciplines-text{      
        grid-column: 1/3;
        grid-row: 6/9;
        padding: .5rem;
        line-height: 1.5rem;  
    }
    }
/* The race power cards*/

.header-race-powers img{
    width: 5rem;

}
.race-powers-cooldown-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}
.race-powers-cooldown-info img{
    display: inline;       
    width: 1.5rem;
    text-align: center;     
}
.cooldown-img{
    display: block;
    text-align: center;    
    margin-left: 1rem;
    margin-right: 1rem;      
}

.container-race-powers{    
    display: grid;
    grid-template-columns: 95vw;    
    grid-template-rows: auto;    
    text-align: center;
    padding: .5rem;
    margin-right: .5rem;
    margin-bottom: .5rem;
}
.header-race-powers img{
    width: 5rem;

}
.race-powers-cooldown-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}
.race-powers-cooldown-info img{
    display: inline;  
    width: 1.5rem;
    text-align: center;     
}
.cooldown-img{    
    margin-left: 1rem;
    margin-right: 1rem;      
}
/* The Major and Minor cards */
.container-major{    
    display: grid;
    grid-template-columns: 95vw;    
    grid-template-rows: auto;    
    text-align: center;
    padding: .5rem;
    margin-right: .5rem;
    margin-bottom: .5rem;
}
  
.header-major img{
    width: 5rem;
}        
@media screen and (min-width:625px) {  

    /* The Race card */
.race-container{    
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
    column-gap: .2rem;
    grid-template-rows: auto auto auto auto auto;
    row-gap: .2rem;
    text-align: center;
}
.race-image{  
    grid-column: 1;
    grid-row: 1/4;
    display: flex;
    align-items: center;
    justify-content: center;        
}
.race-name{    
    grid-column: 2/4;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;  
}
.race-classes{      
    grid-column: 2/4;
    grid-row: 2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;      
}
.container-class-icons{    
    display: grid;
    grid-column: 2/4;
    grid-row: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}
.container-class-icons img{    
    padding: .5rem;
}
.race-disciplines{       
    grid-column: 1/2;
    grid-row: 4;
    padding: .5rem;
}
.race-disciplines-text{     
    grid-column: 1/2;
    grid-row: 5/8;
    padding: .5rem;
    line-height: 1.5rem; 
}
.race-promotion{    
    grid-column: 2/3;
    grid-row: 4;
    padding: .5rem;     
}
.race-promotion-text1{    
    grid-column: 2/3;
    grid-row: 5;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.race-promotion-text2{    
    grid-column: 2/3;
    grid-row: 6;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.race-promotion-text3{    
    grid-column: 2/3;
    grid-row: 7;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* The race power cards*/
.container-race-powers{   
    display: grid;
    grid-template-columns: 42vw;    
    grid-template-rows: auto;    
    text-align: center;
    padding: .5rem;
    margin-right: .5rem;
    margin-bottom: .5rem;
}
.header-race-powers img{
    width: 5rem;

}
.race-powers-cooldown-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}
.race-powers-cooldown-info img{
    display: inline;        
    width: 1.5rem;
    text-align: center;     
}
.cooldown-img{  
    display: block;
    text-align: center;   
    margin-left: 1rem;
    margin-right: 1rem;      
}
/* The Major and Minor cards */
.container-major{    
    display: grid;
    grid-template-columns: 42vw;    
    grid-template-rows: auto;    
    text-align: center;
    padding: .5rem;
    margin-right: .5rem;
    margin-bottom: .5rem;
}
.header-major img{
    width: 5rem;
}
}
@media screen and (min-width:950px) {  

    /* The Class card */
.race-container{    
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
    column-gap: .2rem;
    grid-template-rows: auto auto auto auto auto;
    row-gap: .2rem;
    text-align: center;
}
.race-image{      
    grid-column: 1;
    grid-row: 1/4;
    display: flex;
    align-items: center;
    justify-content: center;        
}
.race-name{ 
    grid-column: 2/4;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;  
}
.race-classes{   
    grid-column: 2/4;
    grid-row: 2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;      
}
.container-class-icons{
    display: grid;
    grid-column: 2/4;
    grid-row: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}
.container-class-icons img{    
    padding: .5rem;
}
.race-disciplines{    
    grid-column: 1/2;
    grid-row: 4;
    padding: .5rem;
}
.race-disciplines-text{
    grid-column: 1/2;
    grid-row: 5/8;
    padding: .5rem;
    line-height: 1.5rem; 
}

/* The race power cards*/
.container-race-powers{    
    display: grid;
    grid-template-columns: 30vw;    
    grid-template-rows: auto;    
    text-align: center;
    padding: .5rem;
    margin-right: .5rem;
    margin-bottom: .5rem;
}
.header-race-powers img{
    width: 5rem;

}
.race-powers-cooldown-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}
.race-powers-cooldown-info img{
    display: inline;        
    width: 1.5rem;
    text-align: center;     
}

.cooldown-img{ 
    display: block;
    text-align: center;    
    margin-left: 1rem;
    margin-right: 1rem;      
}
/* The Major and Minor cards */
.container-major{    
    display: grid;
    grid-template-columns: 30vw;    
    grid-template-rows: auto;    
    text-align: center;
    padding: .5rem;
    margin-right: .5rem;
    margin-bottom: .5rem;
}
.header-major img{
    width: 5rem;
}

}

@media screen and (min-width:1400px) {  

    /* The Race card */
.race-container{    
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
    column-gap: .2rem;
    grid-template-rows: auto auto auto auto auto;
    row-gap: .2rem;
    text-align: center;   
}
.race-image{
    grid-column: 1;
    grid-row: 1/4;
    display: flex;
    align-items: center;
    justify-content: center;        
}
.race-name{
    grid-column: 2/4;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;  
}
.race-classes{  
    grid-column: 2/4;
    grid-row: 2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;      
}
.container-class-icons{
    display: grid;
    grid-column: 2/4;
    grid-row: 3/8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}
.container-class-icons img{    
    padding: .5rem;
}
.race-disciplines{   
    grid-column: 1/2;
    grid-row: 4;
    padding: .5rem;
}
.race-disciplines-text{  
    grid-column: 1/2;
    grid-row: 5/8;
    padding: .5rem;
    line-height: 1.5rem; 
}
/* The race power cards*/
.container-race-powers{    
    display: grid;
    grid-template-columns: 23vw;    
    grid-template-rows: auto;    
    text-align: center;
    padding: .5rem;
    margin-right: .5rem;
    margin-bottom: .5rem;
}
.header-race-powers img{
    width: 5rem;
}
.race-powers-cooldown-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}
.race-powers-cooldown-info img{
    display: inline;
    text-align: center;
    margin-top: .5rem;         
}
/* The Major and Minor cards */
.container-major{   
    display: grid;
    grid-template-columns: 23vw;    
    grid-template-rows: auto;    
    text-align: center;
    padding: .5rem;
    margin-right: .5rem;
    margin-bottom: .5rem;
}
.header-major img{
    width: 5rem;
}
}
@media (prefers-color-scheme: light) {
    body {
      color: black;
      background-color: white;      
    }
    .race-container{
        color:hsl(180, 100%, 97%);
    }
    a {
      color: black;      
    }
    a:hover {
        color: rgb(255, 80, 255);;      
      }
    .race-container a{
        color:hsl(180, 100%, 97%);
    }
    .race-container a:hover{
        color: rgb(0, 253, 253);
    }
    nav{
        color: black;
    }
    

  }
  @media (prefers-color-scheme: dark) {
    body {
        color:hsl(180, 100%, 97%);
        background: #121212;
    }  
    a {
        color:hsl(180, 100%, 97%);
    }

  }