@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body{
    background-color: black;    
    text-align: center;
    display: flex;
    flex-wrap: wrap;           
}

.index-class{
    width: 33%;
}
.index-class h1{
    color: rgba(255, 250, 187, 0.993);
    font-family:architects daughter;
    font-size: 3rem;
    margin: 0;
    text-align: center; 
}
.index-class img{
    margin: 0;
    width: 66%;
}

.title img{
    max-width: 840px;
    width: 100%;    
}



