*{
    padding: 0;
    margin: 0;
}

html{
    margin: 0;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: azure;
}
ul{    
    list-style-type: none;
    text-align: center;  
}
nav li{
    display: inline;    
    list-style-type: none;    
    margin: 1rem;    
}
a{
    text-decoration: none;
    color: azure;    
}
a:hover{
    text-decoration: none;
    color: rgb(0, 253, 253);    
}
body{
    text-align: center;
    color: azure;
    margin: 0;    
}
h1{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.container-major h2{
    font-size: 2rem;
    font-weight: bolder;
    margin: 0;
    margin-top: 1rem;
}
.container-major h3{
    font-size: 1.2rem;
    margin-top: .5rem;
}
.container-major h6{
    font-size: 1.5rem;
    margin-bottom: .5rem;
}


@media screen and (max-width:625px) { 
 
    /* The domain name card */
    .domain-disciplines-container{
        background: hsl(173, 17%, 29%);   
        display: grid;
        grid-template-columns: 100vw;     
        grid-template-rows: auto;         
        text-align: center;
        padding-bottom: 1rem;   
          
    }
    .domain-disciplines-container h3{
        margin-bottom: .5rem;
    }
    .domain-name{ 
        grid-column: 1;
        grid-row: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5rem;   
    }
    .domain-majors{    
        display: grid;
        grid-column: 1;
        grid-row: 3;     
        text-align: center;
        font-size: 1.5rem;
        margin-top: .5rem;    
    }
    .domain-img{    
        display: grid;
        grid-column: 1;
        grid-row: 2;
        justify-content: center;  
    }
    .domain-minors{    
        display: grid;
        grid-column: 1;
        grid-row: 4;     
        text-align: center;
        font-size: 1.5rem;
        margin-top: .5rem;    
    }
    
    
    /* The Major and Minor cards */
    .container-major{
        background-image:radial-gradient( hsl(173, 17%, 29%), hsl(173, 17%, 35%));
        display: grid;
        grid-template-columns: 95vw;    
        grid-template-rows: auto;    
        text-align: center;
        padding: .5rem;
        margin-right: .5rem;
        margin-bottom: .5rem;   
    }
    .header-major img{
        width: 5rem;
    }
}
  
.header-major img{
    width: 5rem;
}        
@media screen and (min-width:625px) {  

    /* The domain name card */
    .domain-disciplines-container{
        background: hsl(173, 17%, 29%);   
        display: grid;
        grid-template-columns: 33vw 33vw 33vw;     
        grid-template-rows: auto;         
        text-align: center;
        padding-bottom: 1rem;   
          
    }
    .domain-disciplines-container h3{
        margin-bottom: .5rem;
    }
    .domain-name{ 
        grid-column: 1/4;
        grid-row: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5rem;   
    }
    .domain-majors{    
        display: grid;
        grid-column: 1;
        grid-row: 2/7;     
        text-align: center;
        font-size: 1.5rem;   
    }
    .domain-img{    
        display: grid;
        grid-column: 2;
        grid-row: 4;
        justify-content: center;  
    }
    .domain-minors{    
        display: grid;
        grid-column: 3;
        grid-row: 2/7;     
        text-align: center;
        font-size: 1.5rem;    
    }
    
    
    /* The Major and Minor cards */
    .container-major{
        background-image:radial-gradient( hsl(173, 17%, 29%), hsl(173, 17%, 35%));
        display: grid;
        grid-template-columns: 42vw;    
        grid-template-rows: auto;    
        text-align: center;
        padding: .5rem;
        margin-right: .5rem;
        margin-bottom: .5rem;      
    }
    .header-major img{
        width: 5rem;
    }
    }

@media screen and (min-width:950px) {  

     /* The domain name card */
.domain-disciplines-container{
    background: hsl(173, 17%, 29%);   
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;     
    grid-template-rows: auto;         
    text-align: center;
    padding-bottom: 1rem;   
      
}
.domain-disciplines-container h3{
    margin-bottom: .5rem;
}
.domain-name{ 
    grid-column: 1/4;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;   
}
.domain-majors{    
    display: grid;
    grid-column: 1;
    grid-row: 2/7;     
    text-align: center;
    font-size: 1.5rem;   
}
.domain-img{    
    display: grid;
    grid-column: 2;
    grid-row: 4;
    justify-content: center;  
}
.domain-minors{    
    display: grid;
    grid-column: 3;
    grid-row: 2/7;     
    text-align: center;
    font-size: 1.5rem;    
}
    
    
    /* The Major and Minor cards */
    .container-major{
        background-image:radial-gradient( hsl(173, 17%, 29%), hsl(173, 17%, 35%));
        display: grid;
        grid-template-columns: 30vw;    
        grid-template-rows: auto;    
        text-align: center;
        padding: .5rem;
        margin-right: .5rem;
        margin-bottom: .5rem;      
    }
    .header-major img{
        width: 5rem;
    }
    }

@media screen and (min-width:1400px) {  

    /* The domain name card */
.domain-disciplines-container{
    background: hsl(173, 17%, 29%);   
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;     
    grid-template-rows: auto;         
    text-align: center;
    padding-bottom: 1rem;   
      
}
.domain-disciplines-container h3{
    margin-bottom: .5rem;
}
.domain-name{ 
    grid-column: 1/4;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;   
}
.domain-majors{    
    display: grid;
    grid-column: 1;
    grid-row: 2/7;     
    text-align: center;
    font-size: 1.5rem;   
}
.domain-img{    
    display: grid;
    grid-column: 2;
    grid-row: 4;
    justify-content: center;  
}
.domain-minors{    
    display: grid;
    grid-column: 3;
    grid-row: 2/7;     
    text-align: center;
    font-size: 1.5rem;    
}


/* The Major and Minor cards */
.container-major{
    background-image:radial-gradient( hsl(173, 17%, 29%), hsl(173, 17%, 35%));
    display: grid;
    grid-template-columns: 23vw;    
    grid-template-rows: auto;    
    text-align: center;
    padding: .5rem;
    margin-right: .5rem;
    margin-bottom: .5rem;      
}
.header-major img{
    width: 5rem;
}
}
@media (prefers-color-scheme: light) {
    body {
      color: black;
      background-color: white;      
    }
    a {
      color: black;      
    }
    a:hover {
        color: rgb(255, 80, 255);;      
      }
    .class-container a{
        color: #eee;
    }
    .class-container a:hover{
        color: rgb(0, 253, 253);
    }
    nav{
        color: black;
    }    
  }
  @media (prefers-color-scheme: dark) {
    body {
      color: #eee;
      background: #121212;
    }  
    a {
      color: #eee;
    }

  }