*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;    
    display: grid;
    grid-template-columns: auto auto auto ;    
    justify-content: center;    
}

.class-icon{
    display: flex;
    text-align: center;
    cursor: pointer;    
}

@media screen and (max-width:720px){
    body{
        background-color: black;    
        display: grid;
        grid-template-columns: repeat(2, 1fr) ;
        flex-wrap: wrap;        
        justify-items: center;   
    }

}
@media screen and (max-width:470px){
    body{
        background-color: black;    
        display: grid;
        grid-template-columns: repeat(1, 1fr) ;
        flex-wrap: wrap;        
        justify-items: center;      
    }

}

@media (prefers-color-scheme: light) {
    body{
      color: black;
      background-color: white;      
    }
    a{
      color: black;      
    }
    a:hover {
        color: rgb(255, 80, 255);;      
    }  
    nav{
        color: black;
    }
    

  }
  @media (prefers-color-scheme: dark) {
    body {
      color: #eee;
      background: #121212;
    }  
    a {
      color: #eee;
    }

  }


