@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body{
    background-color: black;    
    text-align: center;
    color: rgba(255, 250, 187, 0.993);
    font-family:architects daughter;           
}
body h1{    
    font-size: 3rem;
}
body h2{    
    font-size: 3rem;
}

/* below card for the class image's race and power domains */
.class-info{
    
    margin-top: 20px;
    margin-bottom: 20px;    
    display: grid;
    xgrid-template-columns: auto;
    xgrid-template-rows: auto;
    row-gap: 1rem;
    column-gap: 1rem;
    grid-template-areas: 
        "le le le header header header"
        "le le le ri ri ri "          
        "disc disc prom prom dom dom";
} 
.title{  
    grid-area: le;
    align-self: center;    
}
.title img{
    width: 50%;    
}
.class-races{    
    grid-area: header;    
    align-self: flex-end;
    text-align: left;
    display: flex;
    flex-wrap: wrap;       
}
.race{    
    grid-area: ri;
    justify-content: left;    
    display: flex;
    flex-wrap: wrap;
    align-items: center;   
}
.race div{
    padding: .5rem;
    text-align: center;
}
.race img{
    width: 100%;
}
.disc{
    font-size: 1.5rem;
    grid-area: disc;
    
    justify-content: center;
}
.prom{
    font-size: 1.5rem;
    grid-area: prom;
    display: flex;
    
    justify-content: center;
}
.dom{
    font-size: 1.5rem;
    grid-area: dom;
    
    justify-content: center;
}
/* above card for the class image's race and power domains */
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;   
}
.container{
    height: auto;
    width: 45%;    
    margin: .5rem;           
    grid-template-rows: auto auto 1fr;
    border: 1px solid black;
    border-radius: 5px;
    background-image: radial-gradient(azure, rgba(255, 250, 187, 0.993));
    box-shadow: 2px 4px rgb(163, 163, 79);
    color: black;        
}
.container div{
    padding: 1rem;    
}

.header{    
    grid-row: 1/4;
    justify-content: center;    
    display: flex;
    flex-wrap: wrap;
    color: black;       
}
.header h2{
    font-family:architects daughter;
    font-size: 2.5rem;
    color: black;    
}
.header h3{
    font-family:architects daughter;
    font-size: 2.5rem;
    color: black;    
}
.header img{
    height: 7rem;          
}
.power-{
    padding: 1rem;
    grid-row: 2/3;    
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    font-family:architects daughter;
    color: black;       
}
.power- img{
    height: 2rem;
    display: inline;    
}
.power div{     
    text-align: center;    
}
.power- p {    
    margin: 0;
}

.info{
    margin-left: 1rem;
    margin-right: 1rem;
    grid-column: 1/4;
    justify-content: center;
    display: flex;
    font-family:architects daughter;
    font-size: 1.5rem;     
}
.p-header{
    font-size: 2rem; 
}
